<footer class="footer">
  <small>
    <a href="http://railstutorial.jp/">Rails Tutorial</a> by l
  </small>
  <nav>
    <ul>
      <li><%= link_to "about", about_path %></li>
      <li><%= link_to "contact", contact_path %></li>
      <li><a href="http://news.railstutorial.jp/">news</a></li>
    </ul>
  </nav>
</footer>
